.animate {
  &-zoomIn {
    animation-name: zoomIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: none;
  }

  &-delay-3 {
    animation-duration: 0.8s;
  }

  &-origin-br {
    transform-origin: bottom right;
  }

  &-wave {
    transition: all 5s ease-in-out;

    &::before,
    &::after {
      content: "";
      border-radius: 50%;
      background-color: #bbe3fb;

      width: calc(100% * 2);
      height: calc(100% * 2);

      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 5;

      transform: translate(-50%, -50%) scale(0);
      transition: all 0.5s cubic-bezier(0, 1.04, 1, 0.01);
    }

    &::after {
      bottom: 0px;
      left: 0px;
      transform: translate(0, 0) scale(0);
      background-color: #e8f6fe;
    }

    &:hover:before {
      transition: all 1s ease-in-out;
      transform: translate(-50%, -50%) scale(3);
    }

    &:hover:after {
      transition: all 1s ease-in-out;
      transform: translate(-50%, -50%) scale(2);
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  95% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
